
/*Media Queries*/
@media screen and (min-width:900px){
    .acct {
        width: 90%;
        height: 400px;
        background-color: #40196c;
        border-radius: 25px;
        padding: 20px;
    }

    p {
        color: #fff;
    }

    .avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }



      
}


